:root{
    font-size: 16px;
    --bg-blue: #212A3E;
    --primary: #394867;
    --secondary: #9BA4B5;
    --light: #F1F6F9;
    --orange-color: #e08a11;
    --dark-yellow : #8A6E2D;
    --text-color: #f6e8d0;
    --tiger: #010100;
    --rb : #0C1618;
    --coral: #FF8552;
    --myrtle-green: #297373;
    --platinum: #E6E6E6;
    --wine: #5B2333;
}


.App{
    background-color: var(--light);
    height: 100vh;
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    color: var(--bg-blue);
    padding: 0 2rem;
}

.logoHolder{
    width: 2rem;
    cursor: default;
}


.header-content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.header-link{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--bg-blue);
}

.header-link:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: .3s;
}

.header-link:hover:after{
    width: 100%;
}

.header-link:hover{
    background-image: linear-gradient(to right, var(--light) , var(--dark-yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content{
    margin-top: 8%;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.hero-text{
    color: var(--tiger);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 30rem;
}

.hero-img{
    width: 22rem;
}

.contact-page-content-styles{
    font-size: 24px;
    margin-left: 2rem;
    margin-top: 6rem;
    color: var(--tiger);
}