.EEProjects-page-content{
    color: var(--bg-blue);
    height: 50rem;
    max-height: calc(100vh - 12rem);
}

.EEProjects-card{
    height: 48rem;
    max-height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border: 0.5rem black solid;
    /* border: 0.5rem black solid; */
}

.EEProjects-image{
    height: 20rem;
    width: 35rem;
    padding: 0;
    margin: 0 calc((100vw - 35rem) / 2);
}

.EEProjects-buttons{
    border: none;
    display: flex;
    gap: 10rem;
}

.n-button {
    width: 10rem;
    height: 3rem;
    border-width: 0;
    border-radius: 20px;
    background-color: var(--bg-blue);
    color: var(--platinum);
    font-size: 1rem;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.2s;
    box-shadow: 1px 1px 4px var(--wine);
}

.p-button{
    width: 10rem;
    height: 3rem;
    border-width: 0;
    border-radius: 20px;
    background-color: var(--bg-blue);
    color: var(--platinum);
    font-size: 1rem;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    transition: 0.2s;
    box-shadow: 1px 1px 4px var(--wine);
}